
style "default" {
    bg[NORMAL]   = "#101020"
    fg[NORMAL]   = "#dcdcdc"
    text[NORMAL] = "#dcdcdc"
}

style "notification-button" = "default" {
    text[NORMAL] = "#FF0000"
    fg[NORMAL]   = "#FF0000"
}

widget "Taffybar*" style "default"
widget "*NotificationCloseButton" style "notification-button"
gtk-font-name="Deja Vu Sans Mono 12"